<!DOCTYPE html>
<html lang= "en">
<head>
  <title></title>
</head>
<body>
<button class="btn"><a href="/register">Register Now</a></button>
<h1>My Tiny App - Ways to Shorten URL </h1>
<h3 style="color: red;"><%= message %></h2>
<form method="POST" action="/login_submit" style="margin:150px;">
  <input type="text" name="email" placeholder="Please Enter Your Email Address">
  <br>
  <input type="text" name="password" placeholder="Pease Enter Your Password">
  <br>
  <input type="submit" name="login" value="LogIn">
</form>
<h4><a href="/urls">Back To Home Page</a></h4>
</body>
</html>