<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1>Let's Register Now</h1>

    <form action="/register_submit" method="POST" style="margin:150px;">
      <h5>Email Address: <input id="email" type="email" name="email" placeholder="Please enter your email" required /></h5>
      <h5>New Password: <input id="password" type="password" name="password" placeholder="please enter your password" required /></h5>
      <button class="btn btn-block text-center">Register</button>

    <h4 style="margin-top: 200px;"><a href="/urls">BACK TO HOME PAGE</a></h4>
  </body>
</html>